@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masquer la scrollbar mais garder le scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Permettre aux tooltips de sortir de la sidebar */
aside nav > div > button {
  overflow: visible !important;
}

aside nav > div {
  overflow: visible !important;
}